<% provide(:title, "Police Brutality List | 2020") %>




<div class="container">
<div class="row">
<div class="col-9 triangle-isosceles">
	 <p>On <%= @random_b["date"][0,10] %> in <%= @random_b["city"] %>, 	<%= @random_b["state"] %> <%= @random_b["title"] %>.</p>

<p>Evidence can be viewed at the following links. Be aware that the images and video are disturbing.</p>
			<p>		
			<% i = 65 %>
			<% @random_b["links"].each do |link| %>
				Exhibit <%= "#{i.chr}" %>: <%= link_to link, link, target: "_blank" %><br />
				<% i += 1 %>
			<% end %>
			</p>
	<p class="out-of-flow">Report your incident(s) <%= link_to 'here', 
"https://github.com/2020PB/police-brutality/issues/new?assignees=&labels=Incident+report&template=incident-report.md&title=Incident+in+CITY%2C+STATE" %>.</p>

</div>

<%= image_tag ("radio_newscaster_75.jpg") %>



</div>

